<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AberdeenICU Eportfolio{% endblock %}</title>

    {% block extra_css %}{% endblock %}
</head>
<body>

    <header>
      <span class="logo">AberdeenICU Eportfolio</span>
    </header>

    <main>
      <div class="container">
        {% block content %}
        {% endblock %}

        {% block content2 %}
        {% endblock %}
      </div>
    </main>

    <footer>
        <p>&copy; 2024 AberdeenICU Eportfolio. All rights reserved.</p>
    </footer>

    <!--<script src="{{ url_for('static', filename='js/main.js') }}"></script>-->
    {% block extra_js %}{% endblock %}
</body>
</html>

