{% extends "base.html" %}

{% block title %}{{ fields.name }}{% endblock %}

{% block content %}
<h1>{{ fields.name }}</h1>
<p>{{ fields.description }}</p>

<form>
<!--<form method="POST" action="{{ url_for('handle_form', form_id=fields.form_id) }}" enctype="multipart/form-data">-->
    {{ form.hidden_tag() }}
    
    {% for field in form %}
        {% if field.type != 'CSRFTokenField' %}
            <!--<div class="form-group">-->
            <div class="input-group vertical">
                {{ field.label }}
                {{ field(class="form-control") }}
                {% if field.errors %}
                    <ul class="errors">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

