{% extends "base.html" %}

{% block content %}

    <h3>Create Assessment Form</h3>
    <div class = "row cols-sm-12 cols-md-4">
      <div>
          <a href="{{ url_for('handle_form', form_id='1') }}" class="button col-sm col-md">
             CEX
          </a>
      </div>
      <div>
          <a href="{{ url_for('handle_form', form_id='2') }}" class="button col-sm col-md">
              DOPS
          </a>
      </div>
      <div>
          <a href="{{ url_for('handle_form', form_id='3') }}" class="button">
              CBD
          </a>
      </div>
    </div>


    <div class = "row">
      <h3>Previous Assessments</h3>

      <table class="striped, hoverable">
        <thead>
          <tr>
            <th>Date</th>
            <th>Assessment</th>
            <th>Observer</th>
          </tr>
        </thead>
        <tbody>
          {% for row in submissions %}
          <tr data-form-id="{{ row['submission_id'] }}">
            <td data-label="Date">{{ row['submitted'] }}</td>
            <td data-label="Assessment">{{ row['description'] }}</td>
            <!--observer doesn't work currently - not passed to table-->
            <td data-label="Observer">{{ row['observer'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
{% endblock %}


{% block extra_js %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const tableBody = document.querySelector('table tbody');
      tableBody.addEventListener('click', function(e) {
        const row = e.target.closest('tr');
        if (row) {
          const formId = row.dataset.formId;
          window.location.href = `/view/${formId}`;
        }
      });
    });
  </script>
{% endblock %}
